.center {
    text-align: center;
    color: mediumblue;
}

input[type=text], input[type=email] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

.checkmark {
    display: none;
    width: 22px;
    height: 22px;
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width: 6px;
    height: 18px;
    background-color: green;
    left: 11px;
    top: 4px;
}

.checkmark_kick {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: green;
    left: 5px;
    top: 17px;
}

#sent-event {
    color: green;
}

.form-group {
    width: 100%;
}

.form-label, .form-input {
    height: auto;
    float: left;
    margin-bottom: 8px;
}

.form-label {
    width: 10%;
}

.form-input {
    width: 70%;
}

.form-label label, .form-input input {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
